.zip filter=lfs diff=lfs merge=lfs -text
PCB.zip filter=lfs diff=lfs merge=lfs -text
CAD.zip filter=lfs diff=lfs merge=lfs -text
CAD.zipgit filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
'*.zip' filter=lfs diff=lfs merge=lfs -text
